In [1]:
# Dependencies and Setup
import os
import pandas as pd
import datetime
import numpy as np
import requests
import json
from config import gkey

In [2]:
#read the data sets from resources directory
csv_path = "Resources/zillowdata.csv"
house_df = pd.read_csv(csv_path)

In [3]:
#read data
house_df

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30
0,102001,0,United States,Country,NaN,107689.0,107716.0,107767.0,107893.0,108037.0,...,256037.0,257996.0,260291.0,262823.0,265571.0,268430.0,271323.0,274388.0,277672.0,281370.0
1,394913,1,"New York, NY",Msa,NY,187667.0,187228.0,186950.0,186417.0,186100.0,...,490082.0,493305.0,497449.0,502082.0,507015.0,511723.0,516143.0,520568.0,525123.0,530082.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,188830.0,189094.0,189114.0,189224.0,189197.0,...,715077.0,722335.0,730096.0,737143.0,744374.0,751887.0,759038.0,766406.0,773765.0,783610.0
3,394463,3,"Chicago, IL",Msa,IL,148709.0,148690.0,148567.0,148629.0,148533.0,...,249183.0,250732.0,252823.0,255154.0,257504.0,259832.0,261874.0,264447.0,267028.0,270352.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,112230.0,112293.0,112454.0,112775.0,113120.0,...,261892.0,263695.0,265619.0,268207.0,270942.0,274124.0,276820.0,280352.0,284288.0,289582.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,76737.0,77064.0,77398.0,77698.0,78198.0,78766.0,79343.0,79819.0,80194.0,80301.0
906,753874,930,"Craig, CO",Msa,CO,65882.0,66126.0,66383.0,66883.0,67238.0,...,203862.0,204114.0,204410.0,204879.0,205961.0,207137.0,208413.0,209708.0,211170.0,212914.0
907,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,120496.0,120972.0,121766.0,122223.0,123064.0,123571.0,124054.0,125319.0,126435.0,128365.0
908,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,67776.0,67790.0,67860.0,67823.0,67860.0,67846.0,67965.0,68235.0,68432.0,68611.0
909,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,310138.0,310781.0,311495.0,312467.0,314145.0,315991.0,317877.0,319011.0,320363.0,321887.0

In [4]:
# Target city
target_city = ["New York, NY","United States","Los Angeles-Long Beach-Anaheim, CA","Chicago, IL","Dallas-Fort Worth, TX"]

# Build the endpoint URL
target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(target_city, gkey)

In [5]:
lat_col = []
lng_col = []
for city in house_df["RegionName"]:
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(city, gkey) 
    #print(city)
    geo_data = requests.get(target_url).json()
    #print(geo_data)
    lat = geo_data["results"][0]["geometry"]["location"]["lat"]
    lng = geo_data["results"][0]["geometry"]["location"]["lng"]

In [6]:
house_df['Lat'] = lat
house_df['Lng'] = lng
house_df

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,Lat,Lng
0,102001,0,United States,Country,NaN,107689.0,107716.0,107767.0,107893.0,108037.0,...,260291.0,262823.0,265571.0,268430.0,271323.0,274388.0,277672.0,281370.0,55.342222,-131.646111
1,394913,1,"New York, NY",Msa,NY,187667.0,187228.0,186950.0,186417.0,186100.0,...,497449.0,502082.0,507015.0,511723.0,516143.0,520568.0,525123.0,530082.0,55.342222,-131.646111
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,188830.0,189094.0,189114.0,189224.0,189197.0,...,730096.0,737143.0,744374.0,751887.0,759038.0,766406.0,773765.0,783610.0,55.342222,-131.646111
3,394463,3,"Chicago, IL",Msa,IL,148709.0,148690.0,148567.0,148629.0,148533.0,...,252823.0,255154.0,257504.0,259832.0,261874.0,264447.0,267028.0,270352.0,55.342222,-131.646111
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,112230.0,112293.0,112454.0,112775.0,113120.0,...,265619.0,268207.0,270942.0,274124.0,276820.0,280352.0,284288.0,289582.0,55.342222,-131.646111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,77398.0,77698.0,78198.0,78766.0,79343.0,79819.0,80194.0,80301.0,55.342222,-131.646111
906,753874,930,"Craig, CO",Msa,CO,65882.0,66126.0,66383.0,66883.0,67238.0,...,204410.0,204879.0,205961.0,207137.0,208413.0,209708.0,211170.0,212914.0,55.342222,-131.646111
907,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,121766.0,122223.0,123064.0,123571.0,124054.0,125319.0,126435.0,128365.0,55.342222,-131.646111
908,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,67860.0,67823.0,67860.0,67846.0,67965.0,68235.0,68432.0,68611.0,55.342222,-131.646111
909,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,311495.0,312467.0,314145.0,315991.0,317877.0,319011.0,320363.0,321887.0,55.342222,-131.646111

In [14]:
#house_df.head

In [15]:
lat_col = []
lng_col = []
for city in house_df["RegionName"]:
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(city, gkey) 
    geo_data = requests.get(target_url).json()
    lat = geo_data["results"][0]["geometry"]["location"]["lat"]
    lng = geo_data["results"][0]["geometry"]["location"]["lng"]
# Print the json
# print(geo_data)
    lat_col.append(lat)
    lng_col.append(lng)

In [16]:
target_url

'https://maps.googleapis.com/maps/api/geocode/json?address=Ketchikan, AK&key=AIzaSyA5bNhkW-flJCV7Rp6xmrOiLvTGt48gEUY'

In [17]:
# Print the json (pretty printed)
print(json.dumps(geo_data, indent=4, sort_keys=True))

{
    "results": [
        {
            "address_components": [
                {
                    "long_name": "Ketchikan",
                    "short_name": "Ketchikan",
                    "types": [
                        "locality",
                        "political"
                    ]
                },
                {
                    "long_name": "Ketchikan Gateway",
                    "short_name": "Ketchikan Gateway",
                    "types": [
                        "administrative_area_level_2",
                        "political"
                    ]
                },
                {
                    "long_name": "Alaska",
                    "short_name": "AK",
                    "types": [
                        "administrative_area_level_1",
                        "political"
                    ]
                },
                {
                    "long_name": "United States",
                    "short_name": "US",
                    "types": [
                        "country",
                        "political"
                    ]
                },
                {
                    "long_name": "99901",
                    "short_name": "99901",
                    "types": [
                        "postal_code"
                    ]
                }
            ],
            "formatted_address": "Ketchikan, AK 99901, USA",
            "geometry": {
                "bounds": {
                    "northeast": {
                        "lat": 55.36412300000001,
                        "lng": -131.6149352
                    },
                    "southwest": {
                        "lat": 55.3265269,
                        "lng": -131.7073381
                    }
                },
                "location": {
                    "lat": 55.34222219999999,
                    "lng": -131.6461112
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                    "northeast": {
                        "lat": 55.36412300000001,
                        "lng": -131.6149352
                    },
                    "southwest": {
                        "lat": 55.3265269,
                        "lng": -131.7073381
                    }
                }
            },
            "place_id": "ChIJW-EphwglDFQRdAbGz2vlkH4",
            "types": [
                "locality",
                "political"
            ]
        }
    ],
    "status": "OK"
}

In [18]:
geo_data["results"]

[{'address_components': [{'long_name': 'Ketchikan',
    'short_name': 'Ketchikan',
    'types': ['locality', 'political']},
   {'long_name': 'Ketchikan Gateway',
    'short_name': 'Ketchikan Gateway',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Alaska',
    'short_name': 'AK',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '99901', 'short_name': '99901', 'types': ['postal_code']}],
  'formatted_address': 'Ketchikan, AK 99901, USA',
  'geometry': {'bounds': {'northeast': {'lat': 55.36412300000001,
     'lng': -131.6149352},
    'southwest': {'lat': 55.3265269, 'lng': -131.7073381}},
   'location': {'lat': 55.34222219999999, 'lng': -131.6461112},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 55.36412300000001, 'lng': -131.6149352},
    'southwest': {'lat': 55.3265269, 'lng': -131.7073381}}},
  'place_id': 'ChIJW-EphwglDFQRdAbGz2vlkH4',
  'types': ['locality', 'political']}]

In [12]:
house_df

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,Lat,Lng
0,102001,0,United States,Country,NaN,107689.0,107716.0,107767.0,107893.0,108037.0,...,260291.0,262823.0,265571.0,268430.0,271323.0,274388.0,277672.0,281370.0,55.342222,-131.646111
1,394913,1,"New York, NY",Msa,NY,187667.0,187228.0,186950.0,186417.0,186100.0,...,497449.0,502082.0,507015.0,511723.0,516143.0,520568.0,525123.0,530082.0,55.342222,-131.646111
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,188830.0,189094.0,189114.0,189224.0,189197.0,...,730096.0,737143.0,744374.0,751887.0,759038.0,766406.0,773765.0,783610.0,55.342222,-131.646111
3,394463,3,"Chicago, IL",Msa,IL,148709.0,148690.0,148567.0,148629.0,148533.0,...,252823.0,255154.0,257504.0,259832.0,261874.0,264447.0,267028.0,270352.0,55.342222,-131.646111
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,112230.0,112293.0,112454.0,112775.0,113120.0,...,265619.0,268207.0,270942.0,274124.0,276820.0,280352.0,284288.0,289582.0,55.342222,-131.646111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,77398.0,77698.0,78198.0,78766.0,79343.0,79819.0,80194.0,80301.0,55.342222,-131.646111
906,753874,930,"Craig, CO",Msa,CO,65882.0,66126.0,66383.0,66883.0,67238.0,...,204410.0,204879.0,205961.0,207137.0,208413.0,209708.0,211170.0,212914.0,55.342222,-131.646111
907,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,121766.0,122223.0,123064.0,123571.0,124054.0,125319.0,126435.0,128365.0,55.342222,-131.646111
908,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,67860.0,67823.0,67860.0,67846.0,67965.0,68235.0,68432.0,68611.0,55.342222,-131.646111
909,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,311495.0,312467.0,314145.0,315991.0,317877.0,319011.0,320363.0,321887.0,55.342222,-131.646111

In [13]:
house_df['Lat'] = lat_col
house_df['Lng'] = lng_col
house_df

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,Lat,Lng
0,102001,0,United States,Country,NaN,107689.0,107716.0,107767.0,107893.0,108037.0,...,260291.0,262823.0,265571.0,268430.0,271323.0,274388.0,277672.0,281370.0,37.090240,-95.712891
1,394913,1,"New York, NY",Msa,NY,187667.0,187228.0,186950.0,186417.0,186100.0,...,497449.0,502082.0,507015.0,511723.0,516143.0,520568.0,525123.0,530082.0,40.712775,-74.005973
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,188830.0,189094.0,189114.0,189224.0,189197.0,...,730096.0,737143.0,744374.0,751887.0,759038.0,766406.0,773765.0,783610.0,34.052217,-118.243662
3,394463,3,"Chicago, IL",Msa,IL,148709.0,148690.0,148567.0,148629.0,148533.0,...,252823.0,255154.0,257504.0,259832.0,261874.0,264447.0,267028.0,270352.0,41.878114,-87.629798
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,112230.0,112293.0,112454.0,112775.0,113120.0,...,265619.0,268207.0,270942.0,274124.0,276820.0,280352.0,284288.0,289582.0,32.707875,-96.920913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,77398.0,77698.0,78198.0,78766.0,79343.0,79819.0,80194.0,80301.0,32.737600,-101.950992
906,753874,930,"Craig, CO",Msa,CO,65882.0,66126.0,66383.0,66883.0,67238.0,...,204410.0,204879.0,205961.0,207137.0,208413.0,209708.0,211170.0,212914.0,40.515249,-107.546454
907,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,121766.0,122223.0,123064.0,123571.0,124054.0,125319.0,126435.0,128365.0,31.422912,-103.493229
908,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,67860.0,67823.0,67860.0,67846.0,67965.0,68235.0,68432.0,68611.0,34.154531,-99.265080
909,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,311495.0,312467.0,314145.0,315991.0,317877.0,319011.0,320363.0,321887.0,55.342222,-131.646111

In [19]:
house_df = pd.melt(house_df, id_vars=['RegionID', 'RegionName','SizeRank','RegionType','StateName', 'Lat', 'Lng'], var_name='Date', value_name='Price')

In [20]:
house_df['StateName'].fillna('None', inplace=True) #filling NaN values with "None" so US is not accidentally dropped

In [21]:
house_df

,RegionID,RegionName,SizeRank,RegionType,StateName,Lat,Lng,Date,Price
0,102001,United States,0,Country,None,37.090240,-95.712891,1996-01-31,107689.0
1,394913,"New York, NY",1,Msa,NY,40.712775,-74.005973,1996-01-31,187667.0
2,753899,"Los Angeles-Long Beach-Anaheim, CA",2,Msa,CA,34.052217,-118.243662,1996-01-31,188830.0
3,394463,"Chicago, IL",3,Msa,IL,41.878114,-87.629798,1996-01-31,148709.0
4,394514,"Dallas-Fort Worth, TX",4,Msa,TX,32.707875,-96.920913,1996-01-31,112230.0
...,...,...,...,...,...,...,...,...,...
276635,394767,"Lamesa, TX",929,Msa,TX,32.737600,-101.950992,2021-04-30,80301.0
276636,753874,"Craig, CO",930,Msa,CO,40.515249,-107.546454,2021-04-30,212914.0
276637,394968,"Pecos, TX",931,Msa,TX,31.422912,-103.493229,2021-04-30,128365.0
276638,395188,"Vernon, TX",932,Msa,TX,34.154531,-99.265080,2021-04-30,68611.0
276639,394743,"Ketchikan, AK",933,Msa,AK,55.342222,-131.646111,2021-04-30,321887.0

In [22]:
#check for null values
house_df.isnull().sum()

RegionID          0
RegionName        0
SizeRank          0
RegionType        0
StateName         0
Lat               0
Lng               0
Date              0
Price         49037
dtype: int64

In [23]:
#drop the null values
house_df = house_df.dropna()

In [24]:
house_df.isnull().sum()

RegionID      0
RegionName    0
SizeRank      0
RegionType    0
StateName     0
Lat           0
Lng           0
Date          0
Price         0
dtype: int64

In [25]:
#check data types
house_df.dtypes

RegionID        int64
RegionName     object
SizeRank        int64
RegionType     object
StateName      object
Lat           float64
Lng           float64
Date           object
Price         float64
dtype: object

In [26]:
#split Date into Year and Month columns 
house_df[['Year','Month',"date"]] = house_df.Date.str.split("-",expand=True)
#split RegionName into State and City columns 
house_df[['City','State']] = house_df.RegionName.str.split(",",expand=True)
house_df

/Users/evrimpolat/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,RegionID,RegionName,SizeRank,RegionType,StateName,Lat,Lng,Date,Price,Year,Month,date,City,State
0,102001,United States,0,Country,None,37.090240,-95.712891,1996-01-31,107689.0,1996,01,31,United States,None
1,394913,"New York, NY",1,Msa,NY,40.712775,-74.005973,1996-01-31,187667.0,1996,01,31,New York,NY
2,753899,"Los Angeles-Long Beach-Anaheim, CA",2,Msa,CA,34.052217,-118.243662,1996-01-31,188830.0,1996,01,31,Los Angeles-Long Beach-Anaheim,CA
3,394463,"Chicago, IL",3,Msa,IL,41.878114,-87.629798,1996-01-31,148709.0,1996,01,31,Chicago,IL
4,394514,"Dallas-Fort Worth, TX",4,Msa,TX,32.707875,-96.920913,1996-01-31,112230.0,1996,01,31,Dallas-Fort Worth,TX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276635,394767,"Lamesa, TX",929,Msa,TX,32.737600,-101.950992,2021-04-30,80301.0,2021,04,30,Lamesa,TX
276636,753874,"Craig, CO",930,Msa,CO,40.515249,-107.546454,2021-04-30,212914.0,2021,04,30,Craig,CO
276637,394968,"Pecos, TX",931,Msa,TX,31.422912,-103.493229,2021-04-30,128365.0,2021,04,30,Pecos,TX
276638,395188,"Vernon, TX",932,Msa,TX,34.154531,-99.265080,2021-04-30,68611.0,2021,04,30,Vernon,TX
276639,394743,"Ketchikan, AK",933,Msa,AK,55.342222,-131.646111,2021-04-30,321887.0,2021,04,30,Ketchikan,AK

In [27]:
#adjust the data frame columns
house_df = house_df[['RegionID','State','City','Lat', 'Lng', 'Year', 'Month','Price']]
house_df

,RegionID,State,City,Lat,Lng,Year,Month,Price
0,102001,None,United States,37.090240,-95.712891,1996,01,107689.0
1,394913,NY,New York,40.712775,-74.005973,1996,01,187667.0
2,753899,CA,Los Angeles-Long Beach-Anaheim,34.052217,-118.243662,1996,01,188830.0
3,394463,IL,Chicago,41.878114,-87.629798,1996,01,148709.0
4,394514,TX,Dallas-Fort Worth,32.707875,-96.920913,1996,01,112230.0
...,...,...,...,...,...,...,...,...
276635,394767,TX,Lamesa,32.737600,-101.950992,2021,04,80301.0
276636,753874,CO,Craig,40.515249,-107.546454,2021,04,212914.0
276637,394968,TX,Pecos,31.422912,-103.493229,2021,04,128365.0
276638,395188,TX,Vernon,34.154531,-99.265080,2021,04,68611.0
276639,394743,AK,Ketchikan,55.342222,-131.646111,2021,04,321887.0

In [29]:
house_df.to_csv('static/data/house_cleaned.csv', index=False, header=True)

In [35]:
house_df[house_df["Year"]=="2021"]["City"].nunique()

817